/* =============================
   ROOT CONTAINER
============================= */
#root {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 2rem;
}

/* =============================
   HEADER
============================= */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.app-title {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  color: #7a4e00;
}

/* =============================
   BLOCKS AREA
============================= */
.blocks-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: calc(100vh - 250px); /* 2x2 blocchi visibili */
}

.empty-slot {
  border: 2px dashed #c3a870;
  border-radius: 20px;
  background-color: #fff9ed;
  cursor: pointer;
  transition: background 0.2s ease;
  width: -webkit-fill-available;
  height: 100%;
}

.empty-slot:hover {
  background-color: #fff2d9;
}
